<a href="https://colab.research.google.com/github/TarasStasko/Python_3/blob/main/Python3_Stasko.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 1.
a = 17
if a % 2 == 0:
   print(a*2)
else:
   print((a*3)+1)

32

In [12]:
# 2.
list = [10]
if len(list) == 0:
  list.append(10)
  print(list)
else:
    print(list)

[10]

In [37]:
# 3.
str = "Taras"
if 'a' in str or 'i' in str:
  print("A or I is in the name")
if 'o' in str and 'n' in str:
  print("O and N is in the name")
if not 'n' in str:
  print("There is no N in the name, but there might be O")
if not 'o' in str and 'n' in str:
  print("Only N is in the name")

A or I is in the name
There is no N in the name, but there might be O

In [47]:
# 4.
list = [i for i in range(1, 20) if i%2 == 0]
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
# 5.
# comprehensions слід уникати, коли це призводить до втрати читабельності
dict = {x: x*x if x%2 == 0 else  x*3 for x in range(1, 10) }
print(dict)

{1: 3, 2: 4, 3: 9, 4: 16, 5: 15, 6: 36, 7: 21, 8: 64, 9: 27}

In [71]:
# 6.
mylist = ['hello', 'i', 'dont', 'care']
newlist = [x[:3].upper() for x in mylist]
print(newlist)

['HEL', 'I', 'DON', 'CAR']

In [79]:
# 7.
x = 0
while x < 10:
  x += 1
  print(x)

1
2
3
4
5
6
7
8
9
10

In [84]:
# 8.
x = 0
while x < 20:
  x += 1
  if x%2 == 1:
    print(x)

1
3
5
7
9
11
13
15
17
19

In [102]:
# 9.
mylist = [True, True, None, False]
newlist = []
for i in range(len(mylist)):
  newlist.append((i, mylist[i]))
print(newlist)

[(0, True), (1, True), (2, None), (3, False)]

In [107]:
# 10.
dict = {'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13}
for x in dict:
  dict[x] += 5
print(dict)

{'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [116]:
# 11.
n = 10
for x in range(n):
  x+=1
  print('#'*x)

#
##
###
####
#####
######
#######
########
#########
##########

In [157]:
# 12.
import random
a = random.randint(1, 100)
print("Спробуйте вгадати число в діапазоні від 1 до 100!")
x = 0
while a != b:
  b = input()
  x+=1
  b = int(b)
  if b < a:
    print("Більше")
  if b > a:
    print("Менше")
  if b == a:
    print("Вітаю, ви вгадали!")
print(f"Використано спроб: {x}")

Спробуйте вгадати число в діапазоні від 1 до 100!
55
Більше
80
Більше
90
Більше
95
Менше
92
Більше
94
Менше
93
Вітаю, ви вгадали!
Використано спроб: 7